<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeman.mapper.ProjectSubjectRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codeman.domain.ProjectSubjectRelation">
        <id column="id" property="id" />
        <result column="projec_id" property="projecId" />
        <result column="subject_id" property="subjectId" />
    </resultMap>

</mapper>
